%p
  Bonjour #{@user.firstname},
%p
  Vous avez demandé la ré-initialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe.
%p
  = link_to 'Changer mon mot de passe', "#{APP_URL}/mot-de-passe/nouveau?token=#{@token}"
%p
  Par mesure de sécurité, ce lien ne sera valable que jusqu'au
  #{l(@user.reset_password_sent_at + Devise.reset_password_within, format: :long)}.
%p
  Si vous n’êtes pas à l’origine de cette demande, il vous suffit d’ignorer ce mail. Votre mot de passe ne sera pas modifié.
%p
  A très bientôt !
%p
  #{@user.company.name}

